@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo Cache</h2>
<p>Presione el botón para obtener el historial de transacciones....</p>
<button onclick="obtenerHistorial()">Obtener Historial</button>
<script src="~/Scripts/js/demo.js"></script>