@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo Cache</h2>
<p>Presione el botón para obtener el historial de transacciones....</p>
<button onclick="obtenerHistorial()">Hacer petición GET</button>
<br />
<h4>
    Estatus de la solicitud: 
</h4>
<p id="txtStatus"></p>
<div>
    <button onclick="obtenerMockup()">Hacer petición MockUp</button>
    <br />
    <p id="txtMock"></p>
     <p id="txtData"></p>
</div>
<script src="~/Scripts/js/demo.js"></script>
